/* Ustawienie globalne */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* Import czcionki */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Ustawienia dla header  */
header{
    display: flex;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
}

/* Style dla obrazku logo znajdującego się w header */
.logoimg{
    height: 90px;
    width: 90px;
}

/* Style dla tekstu znjadującego się obok logo przedstawiającego "OSP Skowroda Południowa" */
.logotext {
    font-size: 20px;
    font-weight: 700;
    position: relative;
}

/* Kreska pionowa z prawej strony tekstu logo */

.logotext::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 190%;
    background-color: white;
    top: -10PX;
    right: -20px;
}


/* Style dla ul menu w headerze */

header ul {
    display: inline-flex;
    list-style-type: none;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    font-size: 20px;
    font-weight: 100;
  }
  

  /* Style dla li (punktów) menu  */

  li.menuitems {
    position: relative;
    cursor: pointer;
  }
  
/* Styl dla kreski pod li menu */
  
  li.menuitems::before {
    content: "";
    position: absolute;
    width: 0; /* Dodano calc(100% + 10px) dla szerokości */
    transform: translateX(-50%);
    height: 2px;
    background-color: white;
    bottom: -10px;
    left: 50%;
    right: auto; /* Usunięto right: 50% */
    margin-left: -calc((100% + 40px) / 2); /* Dodano margines w lewo obliczony na podstawie szerokości */
    transform-origin: center; /* Dodano transform-origin na center */
    transition-duration: .4s;
  }
  
/* Zmienienie wartości szerokościu kreski z 0 na 100% punktu plus 40 px po najechaniu na punkt menu*/

li.menuitems:hover::before{
    width: calc(100% + 40px);
}


/* Style dla zdjęcia baneru */


img.banertopimg{
    width: 80%;
    height: auto;
    position: absolute;
    right: 0;
}

/* Styl dla całego kontenera górnego pod menu nad o nas */


.topinfo{
    display: flex;
}

/* Styl dla OSP oraz niektóre dla spana Skowroda Południowa */


.toptext {
    color: red;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    text-align: center;
    width: 36.5%;
    font-weight: 900;
    justify-content: center;
    margin-top: 8rem;
    font-size: 100px;
    z-index: 1;
    flex-direction: column;
    gap: 15px;
    transform: translateX(-100%);
    transition: transform 1s;
  }
  

/* Wjazd po włączeniu strony dla OSP Skowroda Południowa */
  .toptext.show {
    transform: translateX(0);
  }
  
/* Tekst na górze po menu oraz cytat */
  
.toptext .textskpo{
    color: black;
    font-size: 50px;
    font-weight: 400;
}

/* Style dla cytatu */

.cytattop {
    position: absolute;
    left: 0;
    bottom: 40%;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    width: 37.3%;
    text-align: center;
    z-index: 1;
    margin-top: 30px;
    transform: translateY(500%);
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transition-delay: .3s;
}


/* Animacja wejścia dla cytatu */

.cytattop.showcytattop{
    transform: translateY(0) ;
    transform: skew(-20deg, 0);
    opacity: 1;
}

/* Style globalne dla skecji o nas */

.aboutus{
    margin-top: 25vw;
    border-radius: 40px;
}


/* Styl dla tytułu sekcji o nas */

.aboutustoptitle{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    position: relative;
    margin-bottom: 120px;
}

/* Styl dla pseudoelementu który jest kreską pod tytułem sekcji o nas */


.aboutustoptitle::before {
    content: "";
    position: absolute;
    bottom: -30px;
    width: 50%;
    height: 3px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
}


/* Teskt dla skecji o nas znajdujący się po lewej stronie */


.aboutus .textleft {
    margin-left: 40px;
    border: 0.2px solid rgba(0, 0, 0, 0.185);
    width: 50vw;
    padding: 60px 30px;
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
    margin-top: 20px;
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;

  }

  
/* Styl dla sekcji o nas dla zdjęcia znajdującego się po prawej stronie */


  .aboutus .imgright {
    display: inline-block;
    vertical-align: middle;

  }


/* Styl dla zdjęcia w sekcji o nas */

  
  .aboutus .imgright img {
    width: 37vw;
    height: auto;
    margin-left: 160px;
    box-shadow: 0px 0px 3px black;
    border-radius: 10%;
    opacity: 50%;
    transition-duration: .3s;
  }

/* Styl dla obrazka w sekcji o nas po najechaniu */

  .aboutus .imgright img:hover{
    opacity: 100%;
  }


  /* Styl globalny dla skecji działalność */


  .ouractivity{
    margin-top: 10vw;
    /* border: 1px solid black; */
    border-radius: 40px;
    padding-bottom: 100px;
    position: relative;
}


/* Styl dla kreski znajdującej się na górze po lewej stronie */

  .ouractivity .lineone{
    position: absolute;
    top: 7.5rem;
    left: 7rem;
    background-color: black;
    width: 0.2rem;
    height: 9rem;
    transform: rotate(35deg);
    border-radius: 100px;
    opacity: 30%;
  }


/* Styl dla kreski znajdującej się na dole po prawo w sekcji działalność */


  .ouractivity .linetwo{
    position: absolute;
    bottom: 1rem;
    right: 6rem;
    background-color: black;
    width: 0.2rem;
    height: 9rem;
    transform: rotate(35deg);
    border-radius: 100px;
    opacity: 30%;
  } 
  
/* Styl dla małej kreski po lewej stronie na górze */


  .ouractivity .smalllineone{
    position: absolute;
    top: 8.5rem;
    left: 6rem;
    background-color: black;
    width: 0.2rem;
    height: 6rem;
    transform: rotate(35deg);
    border-radius: 100px;
    opacity: 30%;
  }

  /* Styl dla małej kreski po prawej stronie na dole */


  .ouractivity .smalllinetwo{
    position: absolute;
    bottom: 1.5rem;
    right: 5rem;
    background-color: black;
    width: 0.2rem;
    height: 6rem;
    transform: rotate(35deg);
    border-radius: 100px;
    opacity: 30%;
  }


/* Tekst główny w sekcji działaność */


  
.ouractivity .text{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    position: relative;
    margin-bottom: 120px;
}



/* Kreska pod głównym teskstem w sekcji działaność */

.ouractivity .text::before {
    content: "";
    position: absolute;
    bottom: -30px;
    width: 50%;
    height: 3px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
}


/* Tekst znajdujący się po prawej stronie w sekcji działaność */


.ouractivity .description {
    margin-left: 80px;
    border: 0.2px solid rgba(0, 0, 0, 0.185);
    width: 50vw;
    padding: 60px 30px;
    font-size: 24px;
    font-family: 'PT Sans', sans-serif;
    margin-top: 18px;
    border-radius: 30px;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
  }

/* Style dla obrazka po lewej stronie w sekcji działalność */

  .ouractivity .imgleft {
    display: inline-block;
    vertical-align: middle;
  }


  /* Style dla obrazka po lewej stronie w sekcji działalność */

  
  .ouractivity .imgleft img {
    width: 28vw;
    height: auto;
    margin-left: 160px;
    border-radius: 10%;
    opacity: 50%;
    transition-duration: .3s;
  }

/* Animacja po najechaniu na obrazek w skecji działaność */

  .ouractivity .imgleft img:hover{
    opacity: 100%;
  }


/* Styl globalny dal sekcji członkowie */


.members{
  margin-top: 10vw;
  /* border: 1px solid black; */
  border-radius: 40px;
  padding-bottom: 100px;
  position: relative;
}


/* Tekst dla tekstu głównego w sekcji członkowie */

.members .text{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 70px;
    font-weight: 500;
    position: relative;
    margin-bottom: 120px;
}


/* Styl dla kreski pod głównym napisem w sekcji członkowie */


.members .text::before {
    content: "";
    position: absolute;
    bottom: -30px;
    width: 50%;
    height: 3px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
}


/* Style dla członków znajdujących się po lewej stronie */


.members .members_members .leftsidemember {
  padding-left: 30rem;
  display: flex;
  align-items: center; 
  transition-duration: .5s;
  margin-top: 5rem;
  opacity: 50%;
}


/* Styl dla sekcji leftsidemember po najechaniu (dla sekcji w której znajdują się użytkownicy po leqwej streonie) */


.members .members_members .leftsidemember:hover{
  opacity: 1;
}

/* Styl dla zdjęcia po lewej stronie */

.leftsidemember img {
  margin-right: 10rem; 
  border-radius: 100%;
  width: 350px;
  height: 350px;
  opacity: 20%;
  transition-duration: .3s;
}

/* Styl dal zdjecia po lewej stronie po najechaniu */

.leftsidemember img:hover{
  opacity: 1;
}

/* Styl dla nazwy użytkownika po lewej stronie */

.squaredotss {
  width: 20%;
  position: absolute;
  opacity: 60%;
  filter: blur(1px);
  animation: rotate 20s linear infinite;
  ;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}







.leftsidemember .data .membername{
  font-size: 45px;
  margin-top: -3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}

/* Styl dla roli członka po lewej stronie */

.leftsidemember .data .memberrole{
  font-size: 27px;
  margin-top: 7px;
  color:rgba(96, 109, 109, 0.721);
  margin-left: 5rem;
  font-family: 'Ubuntu', sans-serif;
}

/* Styl dla obrazka numeru telefonu dla użytkownika po lewej stronie */

.leftsidemember .data .membernumberphone img{
  border-radius: 0;
  width: 30px;
  vertical-align: middle;
  display: flex;
  margin-right: 5px;
  height: auto;
  opacity: 1;
}

/* Styl dla zdjęcia telefonu oraz numeru telefonu */


.leftsidemember .data .membernumberphone img,
.leftsidemember .data .membernumberphone{
  display: inline-block;
  margin-right: 20px;
}


/* Style dla numeru telefonu w sekcji członkowie dla lewej strony */


.leftsidemember .data .membernumberphone{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: darkblue;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}


/* Styl dla obrazka maila w sekcji członkowie po lewej stronie */


.leftsidemember .data .memberemailadress img{
  border-radius: 0;
  width: 30px;
  vertical-align: middle;
  display: flex;
  margin-right: 5px;
  height: auto;
  opacity: 1;
}


/* Style dla obrazka maila oraz maila w sekcji członkowie po lewej stronie */


.leftsidemember .data .memberemailadress img,
.leftsidemember .data .memberemailadress{
  display: inline-block;
  margin-right: 20px;
}


/* Styl dla adresu email w sekcji członkowie po lewej stronie */


.leftsidemember .data .memberemailadress{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: darkblue;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}



/* Style globalne dla prawej strony w sekcji członkowie */



.members .members_members .rightsidemember {
  padding-right: 10rem;
  display: flex;
  align-items: center; 
  justify-content: right;
  transition-duration: .5s;
}


/* Style globalne dla prawej strony w sekcji członkowie po najechaniu */


.members .members_members .rightsidemember:hover{
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.155);
  border-radius: 50px;
  padding-top: 20px;
  margin-top: 20px; 
  padding-bottom: 20px;
  margin-bottom: 20px;
}


/* Style dla zdjęcia członka z prawej strony w sekcji członkowie */


.rightsidemember img {
  margin-right: 3rem; /* Odstęp między obrazkiem a membername */
  border-radius: 100%;
  width: 350px;
  height: 350px;
  opacity: 20%;
  transition-duration: .3s;
}


/* Styl dla zdjęcia członka po najechaniu w sekcji członkowie */


.rightsidemember img:hover{
  opacity: 1;
}


/* Styl dla nazwy członka w sekcji członkowie */


.rightsidemember .data .membername{
  font-size: 45px;
  margin-top: -3rem;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
}


/* Styl dla roli członka po prawej stronie w sekcji członkowie */


.rightsidemember .data .memberrole{
  font-size: 27px;
  margin-top: 7px;
  color:rgba(96, 109, 109, 0.721);
  margin-left: 5rem;
  font-family: 'Ubuntu', sans-serif;
}


/* Styl dla zastępcy naczelnika w sekcji członkowie z prawej stronie */


.rightsidemember .data .memberrole .zasnacz{
  margin-left: -4rem;
}


/* Styl dla obrazka telefonu z prawej strony w sekcji członkowie */


.rightsidemember .data .membernumberphone img{
  border-radius: 0;
  width: 30px;
  vertical-align: middle;
  display: flex;
  margin-right: 5px;
  height: auto;
  opacity: 1;
}


/* Style dla obrazka telefonu oraz telefonu z prawej strony w sekcji członkowie */


.rightsidemember .data .membernumberphone img,
.rightsidemember .data .membernumberphone{
  display: inline-block;
  margin-right: 20px;
}


/* Styl dla numeru telefonu z prawej strony w sekcji członkowie */


.rightsidemember .data .membernumberphone{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: darkblue;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}


/* Styl dla obrazka maila z prawej strony w sekcji członkowie */


.rightsidemember .data .memberemailadress img{
  border-radius: 0;
  width: 30px;
  vertical-align: middle;
  display: flex;
  margin-right: 5px;
  height: auto;
  opacity: 1;
}


/* Style dla obrazka maila oraz adresu email członka z prawej strony w sekcji członkowie */


.rightsidemember .data .memberemailadress img,
.rightsidemember .data .memberemailadress{
  display: inline-block;
  margin-right: 20px;
}


/* Styl dla adresu email członka z prawej strony w sekcji członkowie */


.rightsidemember .data .memberemailadress{
  text-align: center;
  margin-top: 30px;
  font-size: 20px;
  color: darkblue;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;
}


/* Style dla pierwszego obrazka z prawej strony w sekcji członkowie */


.squredots img{
  position: absolute;
  width: 20%;
  /* z-index: -100; */
  opacity: 30%;
  filter: blur(3px);
  margin-top: -25rem;
  transition-duration: .5s;
}


.squredots {
  position: relative; /* Dodaj ten styl, aby umieścić elementy wewnątrz */
  display: flex;
  justify-content: flex-end;
  margin-right: 13rem;

}

/* Style dla pierwszego obrazka po najechaniu */

.squredots:hover img{
  opacity: 1;
  filter: blur(0px);
  border-radius: 100px;
  transform: scale(1.2);
}



/* Styl dla drugiego obrazka z lewej strony w sekcji członkowie */


.squredots2 img{
  position: absolute;
  width: 17%;
  /* z-index: -100; */
  opacity: 30%;
  filter: blur(3px);
  margin-top: -18rem;
  margin-top: -22rem;
  transition-duration: .5s;
}
.squredots2 {
  display: flex;
  justify-content: flex-start;
  margin-left: 32rem;

}


/* Styl dla drugiego obrazka po najechaniu z lewej strony w sekcji członkowie  */

.squredots2:hover img{
  opacity: 1;
  filter: blur(0px);
  border-radius: 100px;
  transform: scale(1.2);
}


/* Styl dla trzeciego obrazka z prawej strony w sekcji członkowie */


.squredots3 img{
  position: absolute;
  width: 20%;
  /* z-index: -100; */
  opacity: 30%;
  filter: blur(3px);
  margin-top: -18rem;
  margin-top: -21rem;
  transition-duration: .5s;
}
.squredots3 {
  display: flex;
  justify-content: flex-end;
  margin-right: 13rem;

}


/* Styl dla obrazka trzeciego po najechaniu z prawej strony w sekcji członkowie */


.squredots3:hover img{
  opacity: 1;
  filter: blur(0px);
  border-radius: 100px;
  transform: scale(1.05);
}


/* Styl dla czwartego obrazka z lewej strony w sekcji członkowie */


.squredots4 img{
  position: absolute;
  width: 17%;
  /* z-index: -100; */
  opacity: 30%;
  filter: blur(3px);
  margin-top: -18rem;
  margin-top: -22rem;
  transition-duration: .5s;
}
.squredots4 {
  display: flex;
  justify-content: flex-start;
  margin-left: 32rem;

}


/* Styl dla czwartego obrazka z lewej strony w sekcji członkowie */

.squredots4:hover img{
  opacity: 1;
  filter: blur(0px);
  border-radius: 50px;
  transform: scale(1.2);
}


/* Styl dla piątego obrazka z prawej strony w sekcji członkowie */

.squredots5 img{
  position: absolute;
  width: 18%;
  /* z-index: -100; */
  opacity: 30%;
  filter: blur(3px);
  margin-top: -18rem;
  margin-top: -21rem;
  transition-duration: .5s;
}
.squredots5 {
  display: flex;
  justify-content: flex-end;
  margin-right: 16rem;

}


/* Styl dla piątego obrazka z prawej strony w sekcji członkowie po najechaniu */


.squredots5:hover img{
  opacity: 1;
  filter: blur(0px);
  border-radius: 100px;
  transform: scale(1.07);
}


/* Styl dla szóstego obrazka z lewej strony w sekcji członkowie */


.squredots6 img{
  position: absolute;
  width: 17%;
  /* z-index: -100; */
  opacity: 30%;
  filter: blur(3px);
  margin-top: -18rem;
  margin-top: -22rem;
  transition-duration: .5s;
}
.squredots6 {
  display: flex;
  justify-content: flex-start;
  margin-left: 32rem;

}


/* Styl dla szóstego obraka z lewej strony w sekcji członkowie po najechaniu */


.squredots6:hover img{
  opacity: 1;
  filter: blur(0px);
  border-radius: 100px;
  transform: scale(1.2);
}




/* Tekst dla tekstu głównego w sekcji aktualności */

.news .text{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 70px;
  font-weight: 500;
  position: relative;
  margin-bottom: 120px;
  margin-top: 50px;
}


/* Styl dla kreski pod głównym napisem w sekcji aktualności */


.news .text::before {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 50%;
  height: 3px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
}


.news-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.newss {
  width: 19%;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  margin: 0px 50px;
}

.news-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 255, 0.397);
  border-radius: 20px;
  padding: 10px;
  padding-bottom: 30px;
  transition-duration: .4s;
}

.news-frame:hover{
  box-shadow: 0px 0px 30px rgba(0, 0, 255, 0.673);

}

.news-image {
  width: 160px;
  border-radius: 50%;
}

.news-title {
  margin-top: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  cursor: pointer;
}

.news-subtitle {
  margin-top: 30px;
  font-size: 20px;
  text-align: center;
  color: #888888;
  font-family: 'Ubuntu', sans-serif;
}



/* Tekst dla tekstu głównego w sekcji kontakt */

.contact .text{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 70px;
  font-weight: 500;
  position: relative;
  margin-bottom: 120px;
  margin-top: 130px;
}


/* Styl dla kreski pod głównym napisem w sekcji kontakt */


.contact .text::before {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 50%;
  height: 3px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
}

.contactcontact{
  display: flex;
  font-family: 'Ubuntu', sans-serif;
  margin: 0px 10vw;
  justify-content: center;
}



.contactdata{
  padding-left: 40px;
  padding-top: 10px;
}

.contactdata .contactphone .contactphonetext{
  font-size: 30px;
  align-items: center;
  display: flex;
  font-weight: 500;
  position: relative;
  margin-left: 60px;
}

.contactdata .contactphone img{
  position: absolute;
  margin-top: 25px;
  width: 35px;
}

.contactdata .contactphone .contactphonetext::before{
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  background-color: black;
  height: 230%;
  border-right: 1px dashed black;
}


.contactdata .contactphone .contactphonenumber{
  font-size: 27px;
  margin-top: 10px;
  padding-left: 95px;
}





.contactdata .contactemail .contactemailtext{
  font-size: 30px;
  align-items: center;
  display: flex;
  font-weight: 500;
  position: relative;
  margin-left: 60px;
  margin-top: 50px;
}

.contactdata .contactemail img{
  position: absolute;
  margin-top: 25px;
  width: 35px;
}

.contactdata .contactemail .contactemailtext::before{
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  background-color: black;
  height: 230%;
  border-right: 1px dashed black;
}


.contactdata .contactemail .contactemailadress{
  font-size: 27px;
  margin-top: 10px;
  padding-left: 60px;
}




.contactdata .contactadress{
  cursor: pointer;
}




.contactdata .contactadress .contactadresstext{
  font-size: 30px;
  align-items: center;
  display: flex;
  font-weight: 500;
  position: relative;
  margin-left: 60px;
  margin-top: 50px;
}

.contactdata .contactadress img{
  position: absolute;
  margin-top: 25px;
  width: 35px;
}

.contactdata .contactadress .contactadresstext::before{
  content: "";
  position: absolute;
  top: 0;
  left: -10px;
  width: 1px;
  background-color: black;
  height: 230%;
  border-right: 1px dashed black;
}


.contactdata .contactadress .contactadresstext::after{
  content: "?";
  position: absolute;
  font-size: 40px;
  right: -30px;
  top: 40%;
  font-weight: 500;
  color: red;
  transition-duration: .2s;
}


.contactdata .contactadress .contactadressadress{
  font-size: 27px;
  margin-top: 10px;
  padding-left: 60px;
}

.contactdata .contactadress:hover .openstimes {
  display: block;
  opacity: 1;
}

.contactdata .contactadress:hover .contactadresstext::after{
  scale: 0;
  opacity: 0;
  z-index: 10;
}

.openstimes {
  font-family: 'Ubuntu', sans-serif;
  position: absolute;
  right: 10px;
  box-shadow: 0px 0px 2px black;
  border-radius: 5px;
  width: 20vw;
  height: 48vh;
  display: none;
  opacity: 0;
  margin-top: -330px;
  transition-property: opacity;
  transition-duration: 1s;
  cursor: default;
}

.openstimes:hover {
  opacity: 1;
}


.openstimes::before {
  content: "";
  position: absolute;
  left: -8%;
  width: 60px;
  border-left: 1px solid rgba(0, 0, 0, 0.280);
  border-bottom: 1px solid rgba(0, 0, 0, 0.280);
  z-index: 1;
  background-color: white;
  height: 60px;
  transform: rotate(45deg);
  bottom: 7.5rem;
}




.openstimes .texttime{
  font-size: 30px;
  text-align: center;
  padding-top: 10px;
  font-weight: 600;
  cursor: text;
}

.openstimes .hour{
  font-size: 20px;
  margin-top: 28px;
  text-align: center;
  cursor: text;
}

.openstimes .hour span{
  font-weight: 500;
  margin-right: 3px;
}

/* Tekst dla tekstu głównego w sekcji dokumenty */

.documents .documentstext{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 70px;
  font-weight: 500;
  position: relative;
  margin-bottom: 120px;
  margin-top: 130px;
}


/* Styl dla kreski pod głównym napisem w sekcji dokumenty */


.documents .documentstext::before {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 50%;
  height: 3px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
}

.documents .documentsitems .item1{
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
}

.documents .documentsitems .item2{
  font-size: 22px;
  font-family: 'Roboto', sans-serif;
  margin-top: 2rem;
}


.documents .documentsitems div{
  text-align: center;
}


.documents .documentsitems a:hover{
  color: black;
  text-decoration: none;
}
.documents .documentsitems .item1 img,
.documents .documentsitems .item2 img {
  opacity: 0; /* Ukrywamy obrazek */
  transition: opacity 0.3s; /* Dodajemy płynny efekt przejścia */
}

.documents .documentsitems .item1:hover img,
.documents .documentsitems .item2:hover img {
  opacity: 1; /* Po najechaniu obrazek staje się widoczny */
}



/* Tekst dla tekstu głównego w sekcji linki */

.links .linkstext{
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  font-size: 70px;
  font-weight: 500;
  position: relative;
  margin-bottom: 120px;
  margin-top: 130px;
}


/* Styl dla kreski pod głównym napisem w sekcji linki */


.links .linkstext::before {
  content: "";
  position: absolute;
  bottom: -30px;
  width: 50%;
  height: 3px;
  background-color: black;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100px;
}

.links .linksitems{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}

.links .linksitems .link img{
  width: 100px;
  align-items: center;
}



.links .linksitems .link:nth-child(2) img{
  width: 200px;
}




footer{
  margin-top: 5rem;
  background-color: black;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 19px;
  display: flex;
  font-weight: 300;
}
.footer{
  padding: 3rem 0rem;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Definiowanie trzech kolumn o równej szerokości */
  gap: 20px 100px;
  margin-left: 6rem;
  margin-bottom: 5rem;
}
.footer li{
  cursor: pointer;
  position: relative;
}
.footer li:hover::before{
  width: 100%;
}
.footer li::before{
  content: "";
  position: absolute;
  bottom: -4px;
  width: 0%;
  transition-duration: .3s;
  background-color: white;
  height: 1px;
}


footer .media img{
  width: 3%;
  position: absolute;
  right: 20rem;
  filter: grayscale(100%);
  margin-top: 4.3rem;
}


footer .copyright{
  text-align: center;
  display: flex;
  align-items: end;
  padding-bottom: 2rem;
}





.menubutton{
  display: none;
}

/* 
------------------------
------------------------
------------------------



Ustawienia dla ekranów o mniejszym rozmiarze



------------------------
------------------------
------------------------
 */


@media screen and (max-width: 1750px){
    .logotext::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: white;
        top: 0;
        right: 90px;
    }
}

@media screen and (max-width: 1700px){

  .aboutus .textleft{
    width: 90%;
    margin-left: 5rem;
    text-align: center;
  }

  .aboutus .imgright{
    margin-top: 4rem;
    margin-left: 20rem;
    width: 50%;
    box-shadow: 0px 0px 3px black;
    border-radius: 50px;
    margin-left: 25rem;
  }
  .aboutus .imgright img{
    box-shadow: none;
  }


}

@media screen and (max-width: 1322px){
    .logotext::before{
        display: none;
    }
    img.banertopimg{
        width: 100%;
        height: auto;
        position: absolute; 
        right: 80px;
    }
    .topinfo {
        flex-direction: column;
        align-items: center;
    }
    .toptext{
        font-size: 130px;
        margin-top: 38rem;
    }
    .textskpo{
        font-size: 200px;
    }
    .cytattop{
        position: absolute;
        left: auto;
        right: auto;
        bottom: -14%;
        padding: 20px 0px;
        font-size: 40px;
        font-family: 'Josefin Sans', sans-serif;
        width: 87.3%;
        text-align: center;
        z-index: 1;
        margin-top: 100rem;
        transform: translateY(500%);
        opacity: 0;
        transition: opacity 1s, transform 1s;
        transition-delay: .3s;
    }
    .logotext{
        text-align: center;
        margin-left: -15px;
        font-weight: 500;
    }
    
    .cytattop.showcytattop{
        transform: skew(-15deg, 0);
    }
    li.menuitems::before {
        content: "";
        position: absolute;
        width: 0; 
        transform: translateX(-50%);
        height: 2px;
        background-color: white;
        bottom: -10px;
        left: 50%;
        right: auto; 
        margin-left: -calc((100% + 10px) / 2); 
        transform-origin: center; 
        transition-duration: .4s;
      }
      
    li.menuitems:hover::before{
        width: calc(100% + 10px);
    }

}
@media screen and (max-width: 1308px) {


    .aboutus .imgright{
      margin-left: 20rem;
    }
    .aboutus .imgright img{
      margin-left: 6rem;
    }
    .menubutton {
      display: block;
    }
    .toptext{
        width: 100vw;
        left: 0;
    }
    .textskpo{
        margin-bottom: 2rem;
    }
    .cytattop{
        bottom: -12rem;
    }
    .logotext {
      margin-left: 10px;
    }
    .menubutton img {
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 30px;
      transition: transform 1.4s ease;
    }
    .ouractivity .linetwo{
      bottom: -3rem;
      right: 3rem;
    }

    .ouractivity .smalllinetwo{
      bottom: -2.5rem;
      right: 2rem;
    }


    .contactcontact{
      justify-content: left;
      margin: 0px 0rem;
    }

    .newss{
      width: 60vw;
      margin-bottom: 2rem;
    }

    footer{
      width: 100vw;
      margin-top: 5rem;
      background-color: black;
      color: white;
      font-family: 'Ubuntu', sans-serif;
      font-size: 19px;
      display: block;
      font-weight: 300;
    }
    .footer{
      padding: 3rem 0rem;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr); /* Definiowanie trzech kolumn o równej szerokości */
      gap: 20px 100px;
      margin-left: 6rem;
      margin-bottom: 5rem;
    }
    .footer li{
      cursor: pointer;
      position: relative;
    }
    .footer li:hover::before{
      width: 100%;
    }
    .footer li::before{
      content: "";
      position: absolute;
      bottom: -4px;
      width: 0%;
      transition-duration: .3s;
      background-color: white;
      height: 1px;
    }
    
    body{
      overflow-x: hidden;
    }
    
    footer .media img{
      width: 7%;
      position: absolute;
      right: 2rem;
      filter: grayscale(100%);
      margin-top: -6rem;
    }
    
    
    footer .copyright{
      justify-content: center;
      display: flex;
      align-items: end;
      padding-bottom: 2rem;
    }

    .openstimes::before{
      display: none;
    }

    .openstimes{
      right: 1px;
    }

    .leftsidemember{
      margin-left: -8rem;
    }


      
    header ul {
        display: none !important;
      }
      
      header ul.show-menu {
        display: flex !important;
      }
      
    header ul {

      flex-direction: column;
      position: absolute;
      right: 0;
      top: 90px;
      border-bottom: 1px solid white;
      border-left: 1px solid white;
      border-right: 1px solid white;
      background-color: black;
      z-index: 1;
      width: 30%;
      padding: 50px 0px;
      gap: 45px;
    }
  
    li.menuitems:hover::before {
      width: calc(100% - 90px);
    }


    .ouractivity .imgleft{
      margin-left: 15rem;
    }
    .ouractivity .imgleft img{
      width: 50%;
    }

    .ouractivity .description{
      width: 90vw;
      margin-left: 3rem;
      text-align: center;
    }

    .members .members_members .leftsidemember {
      padding-left: 20rem;

    }

    .contactdata .contactadress .contactadresstext::after{
      content: "?";
      position: absolute;
      font-size: 40px;
      right: 41rem;
      top: .8rem;
      font-weight: 500;
      color: red;
      transition-duration: .2s;
    }


    .contact .text{
      margin-bottom: -4rem;
      margin-top: 40px;
    }

    .contactcontact{
      flex-direction: column;
    }
    iframe{
      margin: 25vw;
    }
    .contactdata{
      margin-top: -8rem;
    }

    .openstimes{
      right: 4rem;
      width: 30vw;
      margin-top: -390px;
    }

  }
  
  
  @media screen and (max-width: 985px){
    .members .members_members .leftsidemember {
      padding-left: 12rem;
    }
    .squaredotss{
      display: none;
    }
    .contactdata .contactadress .contactadresstext::after{
      display: none;
    }
    .openstimes{
      display: block;
      opacity: 1;
    }
    iframe{
      margin: 15vw;
      margin-bottom: 29vh;
  }
}

@media screen and (max-width: 859px){
  .footer{
    grid-template-columns: repeat(2, 1fr);
  }
  .links .linksitems{
    flex-direction: column;
    gap: 6rem;
  }

  .contact .contactdata{

  }
  .openstimes {
    font-family: 'Ubuntu', sans-serif;
    right: 10px;
    box-shadow: 0px 0px 2px black;
    border-radius: 5px;
    width: 20vw;
    height: 48vh;
    display: none;
    opacity: 0;
    transition-property: opacity;
    transition-duration: 1s;
    cursor: default;
  }
}

  
@media screen and (max-width: 500px){

    img.banertopimg{
        width: 130%;
        height: auto;
        overflow: hidden;
        left: -8rem;
    }
    .cytattop{
        margin-bottom: 20rem;
    }
    .toptext{
        margin-top: 18rem;
    }
    ul{
        height: 100vh;
        z-index: 10;
    }

    .aboutus{
        margin-top: 13rem;
    }
}
.test:hover {
    background-color: red;
}