
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
header{
    display: flex;
    background-color: black;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    align-items: center;
}
.logoimg{
    height: 90px;
    width: 90px;
}
.logotext {
    font-size: 20px;
    font-weight: 700;
    position: relative;
}

.logotext::before {
    content: "";
    position: absolute;
    width: 2px;
    height: 190%;
    background-color: white;
    top: -10PX;
    right: -20px;
}

header ul {
    display: inline-flex;
    list-style-type: none;
    justify-content: space-around;
    text-align: center;
    width: 80%;
    font-size: 20px;
    font-weight: 100;
  }
  
  li.menuitems {
    position: relative;
    cursor: pointer;
  }
  
  li.menuitems::before {
    content: "";
    position: absolute;
    width: 0; /* Dodano calc(100% + 10px) dla szerokości */
    transform: translateX(-50%);
    height: 2px;
    background-color: white;
    bottom: -10px;
    left: 50%;
    right: auto; /* Usunięto right: 50% */
    margin-left: -calc((100% + 40px) / 2); /* Dodano margines w lewo obliczony na podstawie szerokości */
    transform-origin: center; /* Dodano transform-origin na center */
    transition-duration: .4s;
  }
  
li.menuitems:hover::before{
    width: calc(100% + 40px);
}
img.banertopimg{
    width: 80%;
    height: auto;
    position: absolute;
    right: 0;
}
.topinfo{
    display: flex;
}
.toptext {
    color: red;
    font-family: 'PT Sans', sans-serif;
    display: flex;
    text-align: center;
    width: 36.5%;
    font-weight: 900;
    justify-content: center;
    margin-top: 8rem;
    font-size: 100px;
    z-index: 1;
    flex-direction: column;
    gap: 15px;
    transform: translateX(-100%);
    transition: transform 1s;
  }
  
  .toptext.show {
    transform: translateX(0);
  }
  
.toptext .textskpo{
    color: black;
    font-size: 50px;
    font-weight: 400;
}

.cytattop {
    position: absolute;
    left: 0;
    bottom: 40%;
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    width: 37.3%;
    text-align: center;
    z-index: 1;
    margin-top: 30px;
    transform: translateY(500%);
    opacity: 0;
    transition: opacity 1s, transform 1s;
    transition-delay: .3s;
}

.cytattop.showcytattop{
    transform: translateY(0) ;
    transform: skew(-20deg, 0);
    opacity: 1;
}
.aboutus{
    margin-top: 25vw;
}
.aboutustoptitle{
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    font-size: 60px;
    font-weight: 500;
    position: relative;
}
.aboutustoptitle::before {
    content: "";
    position: absolute;
    bottom: -30px;
    width: 50%;
    height: 3px;
    background-color: black;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 100px;
}
.menubutton{
    display: none;
}
@media screen and (max-width: 1750px){
    .logotext::before {
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: white;
        top: 0;
        right: 90px;
    }
}
@media screen and (max-width: 1322px){
    .logotext::before{
        display: none;
    }
    img.banertopimg{
        width: 100%;
        height: auto;
        position: absolute; 
        right: 80px;
    }
    .topinfo {
        flex-direction: column;
        align-items: center;
    }
    .toptext{
        font-size: 130px;
        margin-top: 38rem;
    }
    .textskpo{
        font-size: 200px;
    }
    .cytattop{
        position: absolute;
        left: auto;
        right: auto;
        bottom: -14%;
        box-shadow: 0px 0px 2px red;
        padding: 20px 0px;
        font-size: 40px;
        font-family: 'Josefin Sans', sans-serif;
        width: 87.3%;
        text-align: center;
        z-index: 1;
        margin-top: 100rem;
        transform: translateY(500%);
        opacity: 0;
        transition: opacity 1s, transform 1s;
        transition-delay: .3s;
    }
    .logotext{
        text-align: center;
        margin-left: -15px;
        font-weight: 500;
    }
    
    .cytattop.showcytattop{
        transform: skew(-15deg, 0);
    }
    li.menuitems::before {
        content: "";
        position: absolute;
        width: 0; /* Dodano calc(100% + 10px) dla szerokości */
        transform: translateX(-50%);
        height: 2px;
        background-color: white;
        bottom: -10px;
        left: 50%;
        right: auto; /* Usunięto right: 50% */
        margin-left: -calc((100% + 10px) / 2); /* Dodano margines w lewo obliczony na podstawie szerokości */
        transform-origin: center; /* Dodano transform-origin na center */
        transition-duration: .4s;
      }
      
    li.menuitems:hover::before{
        width: calc(100% + 10px);
    }
}
@media screen and (max-width: 1313px) {
    .menubutton {
      display: block;
    }
    .logotext {
      margin-left: 10px;
    }
    .menubutton img {
      width: 30px;
      height: 30px;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 30px;
      transition: transform 1.4s ease;
      
    }
    .menubutton.active img {
        transform: rotate(90deg);
      }
      
    ul {
        display: none !important;
      }
      
      ul.show-menu {
        display: flex !important;
      }
      
    ul {

      flex-direction: column;
      position: absolute;
      right: 0;
      top: 90px;
      border-bottom: 1px solid white;
      border-left: 1px solid white;
      border-right: 1px solid white;
      background-color: black;
      z-index: 1;
      width: 30%;
      padding: 50px 0px;
      gap: 45px;
    }
  
    li.menuitems:hover::before {
      width: calc(100% - 90px);
    }
  }
  
  
  

  
@media screen and (max-width: 1824px){
    .textskpo{
        font-size: 10px;
    }
}
.test:hover {
    background-color: red;
}